/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Mrs+Saint+Delafield&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Mrs+Saint+Delafield&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Sour Gummy", sans-serif;
  color: #d1d5db;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

#main-content {
  background: #1b1f2f;
}
#main-content #video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-content #video-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}
#main-content #intro-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main-content header {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 120px;
  border-bottom: 1px #252b3f solid;
  background: #0f121c;
}
#main-content header input {
  width: 550px;
  height: 21px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: #464a57;
  color: #d1d5db;
}
#main-content header .nav {
  display: flex;
  gap: 20px;
}
#main-content header .nav a {
  transition: 0.3s all;
}
#main-content header .nav a:hover {
  font-size: 15px;
}
#main-content main .s-1 {
  background-color: #262c41;
}
#main-content main .s-1 div {
  width: 100%;
  height: 500px;
  background-color: #1b1f2f;
  border-radius: 25px;
  overflow: hidden;
}
#main-content main .s-1 div video {
  margin-top: -100px;
}
#main-content main .s-2 {
  top: 100px;
  background-color: #262c41;
  height: 1800px;
  border-radius: 0px 0px 25px 25px;
}
#main-content main .s-2 .content {
  margin-bottom: 50px;
  display: flex;
  gap: 250px;
  justify-content: center;
}
#main-content main .s-2 .content .box {
  margin-top: 50px;
  width: 400px;
  height: 500px;
  background-color: #2d344f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 15px;
}
#main-content main .s-2 .content .box img {
  margin-top: 10px;
}
#main-content main .s-2 .content .box .clock {
  position: absolute;
}
#main-content main .s-2 .content .box .clock .dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  top: 178px;
  left: -6px;
}
#main-content main .s-2 .content .box .clock .line1 {
  position: absolute;
  width: 4px;
  height: 100px;
  background: black;
  top: 86px;
  left: 4px;
  transform-origin: bottom left;
  animation: time 3s linear infinite;
}
#main-content main .s-2 .content .box .clock .line2 {
  position: absolute;
  height: 50px;
  border: 2px black solid;
  top: 134px;
  left: 2px;
  transform-origin: bottom left;
  animation: time 5s linear infinite;
}
@keyframes time {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main-content main .s-2 .content .box .button {
  z-index: 2;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #5d0ec4;
  transition: all 0.2s ease;
}
#main-content main .s-2 .content .box .button:active {
  transform: scale(0.96);
}
#main-content main .s-2 .content .box .button:before,
#main-content main .s-2 .content .box .button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
#main-content main .s-2 .content .box .button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
#main-content main .s-2 .content .box .button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
#main-content main .map-s-1 .back {
  width: 100%;
  height: 750px;
  background-color: #212636;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
#main-content main .map-s-1 .back img {
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}
#main-content main .map-s-1 .back .cauntry .c1 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 320px;
  left: 765px;
  background: rgb(255, 0, 0);
  z-index: 4;
  opacity: 0;
  border-radius: 50%;
}
#main-content main .map-s-1 .back .cauntry .c1-info {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #3b435c;
  top: 130px;
  left: 650px;
  border: #2a2f3b 2px solid;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#main-content main .map-s-1 .back .cauntry .c1-info p {
  padding: 0px 20px 0px 20px;
}
#main-content main .map-s-1 .back .cauntry .c1:hover ~ .c1-info {
  opacity: 1;
}
#main-content main .map-s-1 .back .cauntry .c2 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 220px;
  left: 465px;
  background: rgb(255, 0, 0);
  z-index: 4;
  opacity: 0;
  border-radius: 50%;
}
#main-content main .map-s-1 .back .cauntry .c2-info {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #3b435c;
  top: 150px;
  left: 550px;
  border: #2a2f3b 2px solid;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#main-content main .map-s-1 .back .cauntry .c2-info p {
  padding: 0px 20px 0px 20px;
}
#main-content main .map-s-1 .back .cauntry .c2:hover ~ .c2-info {
  opacity: 1;
}
#main-content main .map-s-1 .back .cauntry .c3 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 370px;
  left: 435px;
  background: rgb(255, 0, 0);
  z-index: 4;
  opacity: 0;
  border-radius: 50%;
}
#main-content main .map-s-1 .back .cauntry .c3-info {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #3b435c;
  top: 150px;
  left: 320px;
  border: #2a2f3b 2px solid;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#main-content main .map-s-1 .back .cauntry .c3-info p {
  padding: 0px 20px 0px 20px;
}
#main-content main .map-s-1 .back .cauntry .c3:hover ~ .c3-info {
  opacity: 1;
}
#main-content main .map-s-1 .back .cauntry .c4 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 460px;
  left: 535px;
  background: rgb(255, 0, 0);
  z-index: 4;
  opacity: 0;
  border-radius: 50%;
}
#main-content main .map-s-1 .back .cauntry .c4-info {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #3b435c;
  top: 240px;
  left: 415px;
  border: #2a2f3b 2px solid;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#main-content main .map-s-1 .back .cauntry .c4-info p {
  padding: 0px 20px 0px 20px;
}
#main-content main .map-s-1 .back .cauntry .c4:hover ~ .c4-info {
  opacity: 1;
}
#main-content main .map-s-1 .back .cauntry .c5 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 500px;
  left: 805px;
  background: rgb(255, 0, 0);
  z-index: 4;
  opacity: 0;
  border-radius: 50%;
}
#main-content main .map-s-1 .back .cauntry .c5-info {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #3b435c;
  top: 290px;
  left: 690px;
  border: #2a2f3b 2px solid;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#main-content main .map-s-1 .back .cauntry .c5-info p {
  padding: 0px 20px 0px 20px;
}
#main-content main .map-s-1 .back .cauntry .c5:hover ~ .c5-info {
  opacity: 1;
}
#main-content main .map-s-1 .back .cauntry .c6 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 200px;
  left: 955px;
  background: rgb(255, 0, 0);
  z-index: 4;
  opacity: 0;
  border-radius: 50%;
}
#main-content main .map-s-1 .back .cauntry .c6-info {
  position: absolute;
  width: 300px;
  height: 200px;
  background: #3b435c;
  top: 140px;
  left: 1030px;
  border: #2a2f3b 2px solid;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#main-content main .map-s-1 .back .cauntry .c6-info p {
  padding: 0px 20px 0px 20px;
}
#main-content main .map-s-1 .back .cauntry .c6:hover ~ .c6-info {
  opacity: 1;
}
#main-content main .webs {
  width: 100%;
  height: 1300px;
  background: #262c41;
  border-radius: 25px;
}
#main-content main .webs .content {
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-content main .webs .content .box {
  width: 400px;
  height: 500px;
  background: #2d344f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  gap: 15px;
}
#main-content main .webs .content .box .button {
  z-index: 2;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #5d0ec4;
  transition: all 0.2s ease;
}
#main-content main .webs .content .box .button:active {
  transform: scale(0.96);
}
#main-content main .webs .content .box .button:before,
#main-content main .webs .content .box .button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
#main-content main .webs .content .box .button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
#main-content main .webs .content .box .button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
#main-content .web1 {
  width: 100%;
  height: 750px;
  background: #2c1a2b;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#main-content .web1 .back {
  margin-top: 100px;
  width: 50%;
  height: 620px;
  background-color: #2c1a1d;
  border-radius: 20px;
  border: #b87333 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main-content .web1 .back .return {
  display: flex;
  align-items: center;
}
#main-content .web1 .back .return span {
  position: relative;
  left: -180px;
  cursor: pointer;
}
#main-content .web1 .back a {
  color: #d4af37;
}
#main-content .web1 .back h1 {
  font-size: 40px;
  padding: 25px 0px;
}
#main-content .web1 .back p {
  font-size: 20px;
  padding: 15px;
  padding-bottom: 20px;
}
#main-content .web1 .back button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#main-content .web1 .back button:hover {
  background-color: #5d0ec4;
  box-shadow: 0px 15px 20px rgba(63, 1, 144, 0.3333333333);
  color: #fff;
  transform: translateY(-7px);
}
#main-content .web1 .back button:active {
  transform: translateY(-1px);
}
#main-content .web2 {
  width: 100%;
  height: 810px;
  background: #2c1a2b;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#main-content .web2 .back {
  margin-top: 100px;
  width: 50%;
  height: 690px;
  background-color: #2c1a1d;
  border-radius: 20px;
  border: #b87333 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main-content .web2 .back .return {
  display: flex;
  align-items: center;
}
#main-content .web2 .back .return span {
  position: relative;
  left: -180px;
  cursor: pointer;
}
#main-content .web2 .back a {
  color: #d4af37;
}
#main-content .web2 .back h1 {
  font-size: 40px;
  padding: 25px 0px;
}
#main-content .web2 .back p {
  font-size: 20px;
  padding: 15px;
  padding-bottom: 20px;
}
#main-content .web2 .back button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#main-content .web2 .back button:hover {
  background-color: #5d0ec4;
  box-shadow: 0px 15px 20px rgba(63, 1, 144, 0.3333333333);
  color: #fff;
  transform: translateY(-7px);
}
#main-content .web2 .back button:active {
  transform: translateY(-1px);
}
#main-content .web3 {
  width: 100%;
  height: 710px;
  background: #2c1a2b;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#main-content .web3 .back {
  margin-top: 100px;
  width: 50%;
  height: 570px;
  background-color: #2c1a1d;
  border-radius: 20px;
  border: #b87333 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main-content .web3 .back .return {
  display: flex;
  align-items: center;
}
#main-content .web3 .back .return span {
  position: relative;
  left: -30px;
  cursor: pointer;
}
#main-content .web3 .back a {
  color: #d4af37;
}
#main-content .web3 .back h1 {
  font-size: 40px;
  padding: 25px 0px;
}
#main-content .web3 .back p {
  font-size: 20px;
  padding: 15px;
  padding-bottom: 20px;
}
#main-content .web3 .back button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#main-content .web3 .back button:hover {
  background-color: #5d0ec4;
  box-shadow: 0px 15px 20px rgba(63, 1, 144, 0.3333333333);
  color: #fff;
  transform: translateY(-7px);
}
#main-content .web3 .back button:active {
  transform: translateY(-1px);
}
#main-content .web4 {
  width: 100%;
  height: 800px;
  background: #2c1a2b;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#main-content .web4 .back {
  margin-top: 100px;
  width: 50%;
  height: 670px;
  background-color: #2c1a1d;
  border-radius: 20px;
  border: #b87333 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main-content .web4 .back .return {
  display: flex;
  align-items: center;
}
#main-content .web4 .back .return span {
  position: relative;
  left: 30px;
  cursor: pointer;
}
#main-content .web4 .back a {
  color: #d4af37;
}
#main-content .web4 .back h1 {
  font-size: 40px;
  padding: 25px 0px;
}
#main-content .web4 .back p {
  font-size: 20px;
  padding: 15px;
  padding-bottom: 20px;
}
#main-content .web4 .back button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#main-content .web4 .back button:hover {
  background-color: #5d0ec4;
  box-shadow: 0px 15px 20px rgba(63, 1, 144, 0.3333333333);
  color: #fff;
  transform: translateY(-7px);
}
#main-content .web4 .back button:active {
  transform: translateY(-1px);
}
#main-content footer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
#main-content footer .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#main-content footer .name p {
  padding-left: 10px;
}
#main-content footer img {
  margin-right: 5px;
  cursor: pointer;
}/*# sourceMappingURL=global.css.map */